

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

h1 {
    margin: 0;
}

main {
    padding: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    justify-content: space-evenly;
}

.game-card {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.game-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.game-platform {
    font-size: 1.2rem;
}

.game-publisher {
    font-size: 1.2rem;
    color: #777;
}
.game-thumbnail img {
    display: block;
    margin: 0 auto;
    max-width: 250px;
    max-height: 250px; 
}
.game-release_date {
    font-size: 1.1rem;
    color: #f51111;
    padding: 20px;
}
/* Style for the main container */
#category_1 {
    background-color: #f3f3f3;
    border-radius: 10px;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Style for the title */
#category_1 h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

/* Style for the gaming category text */
#category_1 p {
    font-size: 16px;
    color: #555;
}

.sort-options {
    margin-top: 20px;
}

.sort-options label {
    font-size: 16px;
    font-weight: bold;
}

.sort-options select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

